<div class="header">
    <div class="borda">
        <div class="logo">
            <h1>Desenvolvedor</h1>
            <h3>Full Stack</h3>
        </div>
    </div>
    <nav>
        <ul>
            <li><a id="inicio" routerLink='home'>Início</a></li>
            <li><a routerLink=''>Formação</a></li>
            <li><a routerLink=''>Projetos</a></li>
            <li><a routerLink='list'>Lista</a></li>
            <li><a routerLink=''>Certificados</a></li>
            <li><a routerLink='sobre'>Sobre</a></li>
        </ul>
    </nav>

    <div class="cv">
        <a href="#">Baixar meu CV</a>
    </div>
    
</div>
