.header{
    background-color: #ffffff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding: 10px 9%;
}

.header .borda{
    background-image: linear-gradient( to right, #018afb, #111111 );
    padding-bottom: 5px;
}

.header .logo{
    background-color: #ffffff;
}

.header .logo h3{
    text-align: end;
    color: #018afb;
}

.header nav{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    text-decoration: none;
}

.header nav ul li{
    list-style-type: none;
}

.header nav ul li a, .header nav ul li{
    cursor: pointer;
    text-decoration: none;
    color: #11111140;
    transition: .5s;
}

.header nav ul li:hover, .header nav ul li a:hover{
    transform: scale(1.05);
    color: #111111;
}

.cv a{
    color: #ffffff;
    padding: 12px;
    text-align: center;
    min-width: 200px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #018afb;
    cursor: pointer;
    animation: botao 3s ease-in-out alternate infinite;
    transition: .2s;
    text-decoration: none;
}

.cv{
    min-width: 200px;
}

.header > a:hover{
    transform: scale(1.05);
}

@keyframes botao {
    0%{
        box-shadow: 0 0 3px #018afb;
    }
    100%{
        box-shadow: 0 0 15px #111111;
    }
}

@media (max-width:1000px){
    .header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 3px;
        z-index: 1;
        gap: 1em;
    }

    .header .borda{
        background-image: linear-gradient( to right, #018afb, #111111 );
    }
    
    .header nav ul{
        display: flex;
        gap: 30px;
        text-decoration: none;
    }

    .header nav{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    .header .logo h1{
        font-size: 20px;
    }
}
