<div class="nav">
    <div class="titulo">
        <h1>Desenvolvedor</h1>
        <h3>Full Stack</h3>
    </div>
    <ul>
        <div class="linha"></div>
        <li><a routerLink="">Portfólio</a></li>
        <li><a href="#">Em desenvolvimento...</a></li>
        <div class="linha"></div>
        <li><a href="#">Em desenvolvimento...</a></li>
        <li><a href="#">Em desenvolvimento...</a></li>
        <div class="linha"></div>
        <li><a href="#">Em desenvolvimento...</a></li>
        <li><a href="#">Em desenvolvimento...</a></li>
        <li><a href="#">Em desenvolvimento...</a></li>
        <div class="linha"></div>
        <li><a routerLink="sobre">Sobre</a></li>
    </ul>
</div>
