<div class="nav">
    <h1>Dev Júnior</h1>
    <ul>
        <li><a routerLink="">Portifólio Dev Júnior</a></li>
        <li><a href="#">Dashboard</a></li>
        <div class="linha"></div>
        <li><a href="#">Em desenvolvimento...</a></li>
        <li><a href="#">Em desenvolvimento...</a></li>
        <div class="linha"></div>
        <li><a href="#">Chat com o Dev</a></li>
        <li><a href="#">Enviar email para o Dev</a></li>
        <li><a href="#">Em desenvolvimento...</a></li>
        <div class="linha"></div>
        <li><a routerLink="sobre">Sobre</a></li>
    </ul>
</div>
