.home{
    display: block;
}

.home .flex{
    width: 100%;
    display: flex;
    align-items: center;
}

.home section{
    margin-top: 9em;
    gap: 10em;
}

.flex .foto img{
    margin: 20px 9% 20px 20px;
    border-radius: 100%;
    width: 230px;
    height: 230px;
    animation: mudarcor 2s ease-in-out infinite alternate;
    position: relative;

}

.apresentacao h1.blue, .formacao h1.blue, .certificados h1.blue{
    color: #018afb;
    margin-bottom: 9px;
}

@keyframes mudarcor{
    0%{
        box-shadow: 0px 0px 6px #018afb;
    }
    100%{
        box-shadow: 0px 0px 15px #018afb;
    }
}

.apresentacao{
    display: grid;
    margin-bottom: 9px;
}

.block{
    display: block;
}



.apresentacao h1, .formacao h1, .certificados h1{
    text-shadow: 0px 0px #111111;
    font-size: 36px;
}

section span{
    color: #aeaeae;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}

.flex .logoformacao img{
    width: 430px;
    height: 330px;
    animation: flutuar 3s ease-in-out infinite alternate;
    position: relative;
    text-shadow: 10px 10px 10px black;
}

@keyframes flutuar{
    0%{
        transform: rotateY(180deg)
    }
    50%{
        transform: rotateY(270deg);
    }
    100%{
        transform: rotateY(360deg)
    }
}

.block .cursos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-grow: 0;
}

.cursos img{
    margin-top: 30px;
    width: 35em;
    border-radius: 30px;
    transition: .2s;
}

.cursos img:hover{
    box-shadow: 0px 0px 16px #8e8e8e;
    transform: scale(1.05);
}

.containerhabilidade{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}

.containercertificados{
    width: 100%;
    display: grid;
    column-gap: 10px;
    row-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.containergithub{
    width: 100%;
    display: grid;
    column-gap: 10px;
    row-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}

.divisor{
    margin-top: 1em;
}

.divisor p{
    position: relative;
    color: #4682B4;
    margin-top: 10px;
    border-bottom: 3px solid #111111;
    font-size: 30px;
    font-weight: 600;
}