<div class="home">

    <!-- Inicio mensagem -->
    <div *ngIf="divmensagem" class="message">
        <div class="caixa">
                <span>Mensagem enviada com sucesso!</span>
                <div class="icone">
                    <i class="bi bi-envelope"></i>
                    <i class="bi bi-telegram"></i>
                </div>
                <button (click)="fechar()">Sair</button>
        </div>
    </div>
    <!-- Fim mensagem -->

    <section class="flex">
        <div class="foto">
            <img src="https://avatars.githubusercontent.com/u/93212667?v=4" alt="Foto"/>
            <!--<img src="../../../assets/foto.png" alt="Foto"/>-->
        </div>
        <div class="apresentacao">
            <h1>MUITO PRAZER{{virgula}}</h1>
            <h1 class="blue">{{nome}}</h1>
            <span>
                <p>
                    Olá, seja bem-vindo(a) ao meu perfil! Sou um entusiasta apaixonado por tecnologia e um Desenvolvedor Full Stack comprometido 
                    em transformar ideias em experiências digitais envolventes e intuitivas.
                </p>
                <p>
                    Meu objetivo é contribuir para projetos inovadores que possam impactar positivamente a vida das pessoas, proporcionando 
                    soluções digitais elegantes e funcionais. Sou um comunicador eficiente e gosto de trabalhar em equipe, pois acredito que 
                    o compartilhamento de ideias e conhecimentos é fundamental para alcançar resultados excepcionais.
                </p>
            </span>
        </div>
    </section>

    <section class="flex">
        <div class="formacao">
            <h1>FORMAÇÃO ACADÊMICA</h1>
            <h1 class="blue">UNIESP - Sistemas para Internet</h1>
            <span>
                <p>
                    O curso Tecnologia em Sistemas para Internet capacita o conhecimento em conceitos e tecnologias de Internet, 
                    assim como projeção, desenvolvimento e realização de configurações necessárias para o desenvolvimento de sites e 
                    aplicações de web ou mobile. O graduando será capaz de desenvolver também sites ou aplicações web 
                    responsivos, acessíveis tanto para computadores quanto para dispositivos móveis. 
                </p>
            </span>
        </div>
        <div class="logoformacao">
            <img src="https://images.even3.com.br/inF8kKGcVUrayARbI7PYUKiLCuA=/fit-in/250x250/smart/even3.blob.core.windows.net/logos/LOGO-UNIESP-HORIZONTAL-VERMELHA-FUNDO-TRANSPARENTE.dcb5743371da43b9ab15.png"/>
        </div>
    </section>
    
    <section class="block">
        <div class="certificados">
            <h1>LICENÇAS E CERTIFICADOS</h1>
            <h1 class="blue">Certificados online</h1>
        </div>
        <div class="cursos">
            <div class="bordas">
                <a target="_blank" href="https://udemy-certificate.s3.amazonaws.com/image/UC-2de4f535-1cf5-4407-850d-b8ebb5aa95f4.jpg?v=1688697505000">
                    <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-2de4f535-1cf5-4407-850d-b8ebb5aa95f4.jpg?v=1688697505000">
                </a>
            </div>
            <div class="bordas">
                <a target="_blank" href="https://udemy-certificate.s3.amazonaws.com/image/UC-93bc89b9-d6c7-4337-93cd-47f928f35ba1.jpg?v=1684890707000">
                    <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-93bc89b9-d6c7-4337-93cd-47f928f35ba1.jpg?v=1684890707000">
                </a>
            </div>
        </div>
    </section>

    <section class="block">
        <div class="habilidades">
            <h1>HABILIDADES</h1>
            <h1 class="blue">Habilidades e Competências</h1>
        </div>
       
       <div class="slider">
        <div class="slide-track">

            <div class="slide">
                <img src="https://miro.medium.com/v2/resize:fit:1358/0*wuNf24urnMp7ypDp.png"/>
            </div>
            <div class="slide">
                <img src="https://miro.medium.com/v2/resize:fit:725/0*RZJNVUPhKktHtpI7.png"/>
            </div>
            <div class="slide">
                <img src="https://www.mundodocker.com.br/wp-content/uploads/2015/06/docker_facebook_share.png"/>
            </div>
            <div class="slide">
                <img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1633101239445/1LPg4fxdV.png"/>
            </div>
            <div class="slide">
                <img src="https://www.javaindia.in/blog/wp-content/uploads/2020/09/java-web-development.png"/>
            </div>
            <div class="slide">
                <img src="https://jmvstream.com/wp-content/uploads/2023/07/HTML-CSS.jpeg"/>
            </div>


            <!-- repetir -->

            <div class="slide">
                <img src="https://miro.medium.com/v2/resize:fit:1358/0*wuNf24urnMp7ypDp.png"/>
            </div>
            <div class="slide">
                <img src="https://miro.medium.com/v2/resize:fit:725/0*RZJNVUPhKktHtpI7.png"/>
            </div>
            <div class="slide">
                <img src="https://www.mundodocker.com.br/wp-content/uploads/2015/06/docker_facebook_share.png"/>
            </div>
            <div class="slide">
                <img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1633101239445/1LPg4fxdV.png"/>
            </div>
            <div class="slide">
                <img src="https://www.javaindia.in/blog/wp-content/uploads/2020/09/java-web-development.png"/>
            </div>
            <div class="slide">
                <img src="https://jmvstream.com/wp-content/uploads/2023/07/HTML-CSS.jpeg"/>
            </div>

        </div>
    </div>
    </section>

    <section class="block" *ngIf="mostrar">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://jmvstream.com/wp-content/uploads/2023/07/HTML-CSS.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://miro.medium.com/v2/resize:fit:1358/0*wuNf24urnMp7ypDp.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://miro.medium.com/v2/resize:fit:725/0*RZJNVUPhKktHtpI7.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    <!-- ************************************************************** -->
    <section class="block">
        <div class="github">
            <h1>PROJETOS</h1>
            <h1 class="blue">Projetos no GitHub</h1>
        </div>
        <!-- Carousel GitHub -->
        <app-github></app-github>

    </section>
    <!-- **************************************************************** -->

    <section class="block absolute">

        <div class="falacomigo">
            <h1>FALA</h1>
            <h1 class="blue">COMIGO.</h1>
        </div>
        <div class="formulario">
            <form>
                <input type="text" [(ngModel)]="usuario.nome" name="nome" placeholder="Seu nome:" required/>
                <span>{{usuario.nome}}</span>
                <input type="email" [(ngModel)]="usuario.email" name="email" placeholder="Seu e-mail:" required/>
                <input type="tel" [(ngModel)]="usuario.celular" name="celular" placeholder="Seu celular" required/>
                <textarea [(ngModel)]="usuario.mensagem" name="mensagem" placeholder="Sua mensagem..."></textarea>
            </form>
            <button type="submit" (click)="cadastrar()">Enviar</button>
        </div>
    </section>

    <section class="flex">
        
    </section>

</div>