.principal{
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.nav{
    color: white;
    min-width: 15%;
    background-color:#111111;
}

.headercontent{
    padding: 9px;
    width: 100%;
}