.principal{
    min-height: 100vh;
    display: flex;
    width: 100%;
    /* padding: 0px 9%; */
}

.nav{
    color: white;
    min-width: 15%;
    background-color:#111111;
}

.headercontent{
    width: 100%;
}